#descPlace {
  height: "250px";
  background-color: #fff8f1;
}

#btn-Detail {
  width: "100px";
  background: #ff7654;
}
#btn-Detail:hover {
  background: #f97316;
}

.truncate-5-lines {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
